/* header */
@media (max-width: 1025px) {
    /* header */
    header, .cover-section {
        padding-inline: 92px;
    }
     /* section 2 (articles) */
     .discovery {
        padding-inline: 92px;
    }
     .article-discovery {
        flex: 1 1 408px;
    }
    .hidden-article {
        display: none;
    }
}
@media (max-width: 834px) {
    .container {
        row-gap: 80px;
    }
    header, .cover-section {
        padding-inline: 67px;
    }
     /* section 2 (articles) */
     .discovery {
        padding-inline: 67px;
    }
     .article-discovery {
        flex: 1 1 338px;
    }
}
