@media (max-width: 375px) {
    .container {
        row-gap: 48px;
    }
    /* cover */ 
    .cover-section {
        padding-inline: 14px;
    }
    h2 {
        font-size: 32px;
        line-height: 40px;
    }
    .pcover {
        font-size: 14px;
        line-height: 22px;
    }
    /* section 2 (articles) */
    .discovery {
        padding-inline: 14px;
    }
    .section-title {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
    }
    .article-container {
        flex-wrap: wrap;
    }
    .article-discovery {
        flex: 1 1 345px;
    }
    .first-article {
        margin-bottom: 20px;
    }
}