/* header */
@media (max-width: 658px) {
    header, .cover-section {
        padding-inline: 14px;
    }
    .burger-link {
        display: block;
    }
    .hidden-li {
        display: none;
    }
}
